*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #F2F2F2;
  margin: 0;
}

header {
  position: relative;
  padding: 10px;
  background-color: #3F3244;
}

header h1 {
  display: inline-block;
  font-size: 2em;
  color: #F2F2F2;
}

header p {
  position: absolute;
  right: 1em;
  vertical-align: top;
  display: inline-block;
  font-weight: 600;
  font-size: 1.4em;
  color: #F2F2F2;
}

header span {
  margin-left: 20px;
  color: #34D1D1;
}

hr {
  position: relative;
  left: 101px;
  top: -45px;
  width: 87%;
}

/*accordian section*/

.main__section {
  position: relative;
  padding: 1.5em;
  width: 80%;
  margin: 5em auto;
  
}

.main__section h2 {
  padding: 15px;
  background-color: #F2F2F2;
  font-weight: 300;
  font-size: 1.3em;
}

.accordion-tabs__section ul {
  list-style-type: none;
  background-color: #F2F2F2;
  margin: auto;
  width: 99%;
  right: 10px;
  position: relative;
}

.tabs-nav {
  display: inline-block;
  background-color: #D1D2D3;
  width: 24.6%;
  padding: 10px;
  margin: 0;
  border-top: 2px solid #D1D2D3;
  border-left: 2px solid #D1D2D3;
  border-right: 2px solid #D1D2D3;
  border-bottom: none;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 600;
  color: #666666;
}

.tabs-nav2 {
  display: none;
}

.tab-list {
  border-bottom: 2px solid #D1D2D3;
  border-left: 2px solid #D1D2D3;
  border-right: 2px solid #D1D2D3;
  border-top: none; 
}

.tab-links {
  width: 100.1%;
  display: inline-flex;
  justify-content: space-around;
  padding-top: 3em;
}

.accordion-tabs__section img {
  display: inline-block;
  margin: auto;
  height: 300px;
  width: 300px;
}

.contents_tab {
  display: inline-flex;
  width: 100%;
  padding: 2em;
  margin: auto;
}

.text-wraper {
  padding: 2em;
}

.contents_tab h1  {
  display: inline-block;
  border-bottom:2px solid #D1D2D3; 
  color: #000000;
}

.contents_tab p {
  display: inline-block;
  color: #666666;
  font-size: 1.2em;
}

.contents_tab br {
  padding-top: 2em;
}

.active-tab {
  border-bottom: 2px solid #D1D2D3;
  border-right: 2px solid #D1D2D3;
  border-left: 2px solid #D1D2D3;
  background-color: #F2F2F2;
}


/*felx cards*/

.flex_cards {
  height: 100%;
  width: 100%;
  padding: 2em;
  display: inline-grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33%   33.33% 33.33%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.flex-Card {
  height: 200px;
  height: 300px;
  background-color: #D1D2D3;
}

.flex-Card h3 {
  height: 2.5em;
  margin: 0;
  padding: .5em;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #fff;
}

.flex-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.flex-2{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.flex-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.flex-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.flex-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.flex-6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.flex-6 {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

/* main header*/

.header {
  width: 96%;
  padding: 2em;
  margin: auto;
  background-color: #D1D2D3;
  position: relative;
  left: 10px;
}

.header-ul {
  padding: 0;
  width: 88%;
  display: inline-block;
}

.header-li {
  position: relative;
  left: 10px;
  display: inline-block;
  padding-left: 1em;
  font-size: 1.3em;
}

.header-a {

}

.header_input {
  background-image: url('./698627-icon-111-search-512.png');
  background-repeat: no-repeat;
  background-size: 1.3em;
  position: relative;
  left: 2.3em;
  padding-left: 1.5em;
  width: 25%;
  font-size: 1.5em;
}

.circle {
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  background-color: #fff;
}

#dropdown {
  list-style-type: none;
  font-size: 1.3em;
  padding: 10px;
  position: absolute;
  left: 0;
  background-color: #f1f1f1;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 250px;
}

.header-a {
  margin: 1em 0 0;
  padding-left: 0.7em;
}

.hide {
  display: none;
}


.dropbtn {
  display: none;
}

.show {
  display:block;
}

.button {
  position: relative;
  color: #fff;
  left: 31em;
  padding: 1.3em;
  top: 4em;
  text-align: center;
  background-color: #3F3244;
  width: 50%;
  height: 60px;
  margin: 3em auto;
}

#button {
  left: 27em;
  top: 8em;
}


@media screen and (max-width: 1270px) {
  .header-ul {
    padding: 0;
  }

  .header-li {
    left: 0;
    font-size: 1em;
  }

  .header_input {
    position: relative;
    left: 1.3em;
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1240px) {
  .accordion-tabs__section {
    width: 97%;
  }
}

@media screen and (max-width: 950px) {
  .accordion-tabs__section img {
    width: 250px;
    height: 250px;
  }

  hr {
    width: 64%;
  }

  .flex_cards {
    height: 100%;
    width: 100%;
    padding: 2em;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }

  .flex-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .flex-2{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .flex-3 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .flex-4 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .flex-5 {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .flex-6 {
    grid-column: 1 / 3;
    grid-row: 6 / 7;
  }

  .flex-6 {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
  }

  .header-ul {
    display: none;
  }


  .dropbtn {
    display: inline-block;
    position: absolute;
    border: none;
    right: 3em;
    top: 2.5em;
    width: 135px;
    height: 2em;
    font-size: 1.3em;
    display: inline-block;
    background-color: #fff;
  }

  .header_input {
    top: 1em;
    left: 0.3em;
    width: 90%;
  }

  .button {
    left: 23em;
  }
  


}

@media screen and (max-width: 740px) {
  .main__section {
    margin: 9em auto;
  }

  .accordion-tabs__section {
    width: 100%;
  }

  .tabs-nav2 {
    display: block;
    width: 100%;
    background-color: #D1D2D3;
    padding: 10px;
    margin: 0;
    border-top: 2px solid #D1D2D3;
    border-left: 2px solid #D1D2D3;
    border-right: 2px solid #D1D2D3;
    border-bottom: none;
    vertical-align: top;
    text-align: center;   
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    color: #666666;

  }

 

  .tab-links {
    flex-wrap: wrap;
  }

  .tabs-nav {
    display: none;
    
  }

  .contents_tab {
    display: inline-flex;
    flex-direction: column;

  }

  .accordion-tabs__section img {
    width: 100%;
  }

  .text-wraper {
    padding: 0;
  }

  .button {
    left: 14em;
  }



}

@media screen and (max-width: 530px) {
  .main__section {
    width: 100%;
  }

  .flex-Card h3 {
    font-size: 1em;
  }
}